.navbar {
  padding-top: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
}

.topNav {
  background-color: var(--main-bg-color);
  padding: 2rem 2.75rem;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 100px 2000px var(--shadow-color);
  border-radius: 1rem;
}

.logo > a {
  font-size: 2.5rem;
  display: flex;
  gap: 1rem;
}

.logo > a > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.searchBar {
  width: 50%;
  position: relative;
}

.searchBar > input {
  background-color: var(--card-bg-color);
  outline: none;
  border: 0;
  border-radius: 0.75rem;
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 1rem 3rem 1rem 12px;
  color: var(--text-color);
  width: 100%;
}

.searchBar > button {
  position: absolute;
  background-color: var(--card-bg-color);
  color: var(--text-color);
  outline: none;
  border: 0;
  border-radius: 0.75rem;
  z-index: 1000;
  top: 30%;
  right: 1rem;
}

.searchBar > button > svg {
  width: 20px;
  height: 20px;
}

.loginRegister {
  display: flex;
}

.loginBtn,
.registerBtn {
  font-family: yekanHeavy;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  line-height: 1.5rem;
  font-weight: 500;
  padding: 0.4rem 0.75rem;
  transition: all 0.2s ease-in-out;
}

.loginBtn {
  background-color: #1f3958;
  color: #3b82f6;
  border-radius: 0 0.5rem 0.5rem 0;
  position: relative;
}

.loginBtn:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 10px;
  color: #3b82f6;
  background-color: #1f3958;
  left: -14%;
  transition: all 0.2s ease-in-out;
}

.loginBtn:hover {
  background-color: #3371d4;
  color: var(--text-color);
}
.loginBtn:hover:after {
  background-color: #3371d4;
  color: var(--text-color);
}
.registerBtn {
  color: var(--text-color);
  border-radius: 0.5rem;
  background-color: var(--button-color);
  width: 100%;
  z-index: 1000;
}

.registerBtn:hover {
  background-color: #3371d4;
  color: var(--button-hover-color-gray);
}

/* navbar acount section styles start */
.acountBtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.cardsBtn,
.profileImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--card-bg-color);
  transition: all 0.2s ease-in-out;
  position: relative;
}

.cardsBtn > span {
  position: absolute;
  bottom: 75%;
  left: 70%;
  background-color: #e01c4c;
  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;
  text-align: center;
  font-size: 1rem;
}

.cardsBtn > a > svg {
  color: var(--text-color);
  margin-top: 10px;
  width: 20px;
  height: 20px;
}

.cardsBtn:hover {
  background-color: var(--button-hover-color-gray);
}

.cardsBtn:hover.cardsBtn > a > svg {
  color: var(--main-bg-color);
}

.profileImg > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

/* navbar botton sectin styles */

.bottonNav {
  font-family: yekanHeavy;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-side-color);
  padding: 1.25rem 0;
  border-radius: 0 0 1.5rem 1.5rem;
  width: 80%;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.dropDown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.dropDown > svg {
  width: 20px;
  height: 20px;
}

.navListLink {
  position: relative;
  cursor: pointer;
}

.dropDownList,
.acountDropDownList {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  background-color: var(--bg-side-color);
  padding: 0.75rem;
  border-radius: 0.5rem;
  width: 12rem;
}

.dropDownListItem {
  line-height: 1.75rem;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dropDownListItem>svg{
  width: 20px !important;
  height: 20px !important;
}

.dropDownListItem:hover {
  background-color: var(--main-bg-color);
}

.coursesDropDownList {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  background-color: var(--bg-side-color);
  padding: 0.75rem;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: auto auto;
  width: 26rem;
}

.coursesDropDownListItem:hover {
  background-color: var(--main-bg-color);
}

.coursesDropDownListItem {
  line-height: 1.75rem;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 12rem;
}

.coursesDropDownLink {
  display: flex;
  gap: 10px;
}

.coursesDropDownLink > svg {
  width: 30px !important;
  height: 30px !important;
}

.coursesDropDownText > p {
  font-family: yekanReg;
  font-size: 0.85rem;
  color: var(--button-hover-color-gray);
}

.acountDropDownList{
  right: -150px !important;
}