.roadCard{
    width: 24rem;
    height: 20rem;
    border: 1px var(--darker-gray) solid;
    border-radius: .5rem;
    user-select: none;
    transition: all .2s ease-in-out;
}

.roadCard:hover{
    background-color: var(--card-bg-color);
    border-color: var(--main-bg-color);
}


.cardContent{
    padding: 1.5rem 1.75rem 1rem 1.75rem;
}

.cardHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.cardIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: #ffdc26;
    width: 56px;
    height: 56px;
    border-radius: .5rem;
    box-shadow: -10px 10px 40px  #ffdb263f;
}

.cardCourses{
    font-size: 12px;
    font-weight: 600;
    border: 1px var(--button-color) solid;
    border-radius: .25rem;
    padding: 5px 8px;
}

.cardTitle{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.cardDisc{
    font-size: 1.1rem;
    line-height: 1.75rem;
    font-weight: 500;
    flex-grow: 2;
    color: var(--discription-color);
}

.cardBtn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--button-color);
    font-weight: 700;
    gap: 5px;
    border-top: 1px var( --shadow-color) solid;
    margin-top: 1rem;
    padding: 1rem;
    padding: 1rem 2rem;
    transition: all .2s ease-in-out;
}

.cardBtn:hover{
    color: var(--text-color);
}
