:root{
  --main-bg-color:#0E2338;
  --bg-side-color:#0C243E;
  --card-bg-color:#1B314C;
  --text-color:#FFFFFF;
  --link-hover-color:#CBD1DB;
  --button-color:#4283ED;
  --shadow-color:rgba(255, 255, 255, 0.527);;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  direction: rtl;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

a{
  text-decoration: none;
  color: var(--text-color);
}